<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:product-service.properties"/>
<!--    ProductRepository productRepository = new ProductRepositoryImpl();-->
<!--    define the beans-->
    <bean id="productRepository" class="com.demo.repository.ProductRepositoryImpl"/>
<!--  The ProductService bean is dependent on ProductRepository  -->
<!--  constructor based DI  -->
<!--    public ProductServiceImpl(ProductRepository productRepository){-->
<!--    this.productRepository = productRepository;-->
<!--    }-->
    <bean id="productService" class="com.demo.service.ProductServiceImpl">
<!--        <constructor-arg index="0" ref="productRepository"/>-->
<!--        <constructor-arg  ref="productRepository"/>-->
        <property name="productRepository" ref="productRepository"/>
        <property name="location" value = "mumbai"/>
        <property name="domainName" value="${domain.name}"/>
    </bean>
</beans>